<?php

return array(
    
    'onyx_user' => array(
        'static_salt' => '94ae2c097990e9c777333e6af0c805ad',
        'auth_table' => 'onyx_user',
        'credential_column' => 'password',
        'identity_column' => 'email',
        'double_opt_in' => true,
        'welcome_template' => 'onyx-user/email/tpl/welcome-email',
        'welcome_template_double_opt' => 'onyx-user/email/tpl/welcome-email-double',
        'welcome_subject' => 'Welcome to the site',
        'reset_email_template' => 'onyx-user/email/tpl/reset-email',
        'token_expire' => '-3 hour',
        'default_role' => 'guest',
    ),
);

